body {
  font-family: $font-family;
  color: $color-white;
  background: $color-black;
  font-weight: 400;
  font-size: get-d(16px);
}

// .title-1,
// h1 {
// }
// .title-2,
// h2 {
// }
// .paragraph,
// p,
// .paragraph,
// p * {
// }

// .title-3, h3

// .title-4, h4

// .title-5, h5

// .title-6, h6
